/* ---- CSS Reset ---- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* -------------------- */
/*        HEADER        */
/* -------------------- */
.header {
    min-height: 60px;
    padding: 20px;
}

.nav {
    max-width: 1300px;
    display: flex;
    margin: 0 auto;
    align-items: center;
}
.nav-logo {
    width: 120px;
}
.nav-links {
    text-decoration: none;
    color: black;
}
.nav-items {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 26px;
}
.nav-links-linkedin img{
    height: 34px;
    width: 34px;
}

.nav, .hero {
    background-color: #FFFEF4;
}

/* ------------------------- */
/*       HERO SECTION        */
/* ------------------------- */
.hero {
    padding: 64px 100px 32px 100px;
}
.hero-green {
    max-width: 1300px;
    margin: 50px auto;
    background: #CAD8B5;
    padding: 20px;
    border-radius: 0px 50px;
    width: 100%;
    height: 350px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32em;

    position: relative;
}
.headshot {
    position: absolute;
    top: -50px;
    left: 125px;
    width: 100%;
    max-width: 410px;
}
.hero-green-rightContent {
    position: absolute;
    left: 55%;
}
.hero-green-rightContent-ln {
    font-family: 'Agrandir Grand-Light', Helvetica, sans-serif;
}
.wordContainer {
    position: relative;
}
.wordContainer-text {
    position: absolute;
    left: 125px;
    font-size: 20px;
}


/* -------------- */
/*     SKILLS     */
/* -------------- */
.skills {
    max-width: 1300px;
    margin: 32px auto;
}
.skills-content {
    max-width: 1300px;
    margin: 64px auto;
    display: flex;
    gap: 24px;
}
.skillCard {
    background-color: #E9E8DD;
    border: 1px solid #7D7D7D;
    border-radius: 5px;
    padding: 32px;
}
.skillIcon {
    width: 40px;
}


/* ---------------- */
/*     PROJECTS     */
/* ---------------- */
.projects {
    max-width: 1300px;
    margin: 64px auto;
}
.projectCard {
    max-width: 1300px;
    margin-top: 32px;
    background-color: #E9E8DD;
    border: 1px solid #7D7D7D;
    border-radius: 5px;
    display: flex;
}
.projectCard-img {
    width: 40%;
    margin-right: 24px;
}
.projectCard-body {
    padding: 32px;
    padding-left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}
.projectCard-body-heading {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.projectCard-body-button {
    padding: 12px 32px;
    border-radius: 5px;
    max-width: 232px;
    text-decoration: none;
    color: white;
    background-color: #61609A;
    
}

#project2 .projectCard-body {
    padding: 32px;
    padding-right: 0;
}
#project2 .projectCard-img {
    margin-right: 0;
    margin-left: 24px;
}


/* ------------------ */
/*       FOOTER       */
/* ------------------ */
.footer {
    background: #CAD8B5;
    padding: 64px 100px;
    margin-top: 32px;
}
.footer-container {
    max-width: 1300px;
    gap: 32px;
    margin: 0 auto;
    display: flex;
}

.footer-container-leftContent {
    display: flex;
    flex-direction: column;
}
.contact-socials {
    margin-top: auto;
}
.socials {
    display: flex;
    list-style: none;
    gap: 8px;
    margin: 6px auto;
}
.socials-icon img {
    width: 30px;
    height: 30px;
}

.footer-container-rightContent {
    width: 750px;
}
.footer-container-rightContent .longInput {
    height: 80px;
}
.footer-container-rightContent input {
    min-height: 32px;
    width: 100%;
}
.footer-container-rightContent .button {
    background: #3F3F3F;
    border: none;
    border-radius: 5px;

    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFEF4;

    padding: 5px 150px;
    text-decoration: none;
    margin: 8px auto;
}


/* ----------------- */
/*       FONTS       */
/* ----------------- */
@font-face {
    font-family: Agrandir Grand-Heavy;
    src: url(/fonts/Agrandir-GrandHeavy.woff);
}
@font-face {
    font-family: Agrandir Grand-Light;
    src: url(/fonts/Agrandir-GrandLight.woff);
}
@font-face {
    font-family: Agrandir Text-Bold;
    src: url(/fonts/Agrandir-TextBold.woff);
}

h1 {
    font-family: "Agrandir Grand-Heavy", Helvetica, sans-serif;
    font-size: 72px;
    letter-spacing: 0.5rem;
}
h2 {
    font-family: 'Agrandir Text-Bold', Helvetica, sans-serif;
    font-size: 36px;
}
h3 {
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 400;
    font-size: 28px;
}
h4 {
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 500;
    font-size: 24px;
}
h5 {
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
}
p, a, label {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 18px;
}