/* ---- CSS Reset ---- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFEF4;
}


/* -------------------- */
/*        HEADER        */
/* -------------------- */
.header {
    min-height: 60px;
    padding: 20px;
}

.nav {
    max-width: 1300px;
    display: flex;
    margin: 0 auto;
    align-items: center;
}
.nav-logo {
    width: 120px;
}
.nav-items {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 30px;
}

.nav-links {
    display: inline-block;
    width: 125%;
    text-decoration: none;
    text-align: center;
    color: black;
    border-radius: 15px;
    background-image: linear-gradient(to right, transparent 50%, #7D7D7D 50%);
    background-size: 200%;
    transition: 0.3s ease-in-out;
}
.nav-links:hover {
    background-position: -100%;
    color: #FFFEF4;
}
.nav-links-linkedin img{
    height: 34px;
    width: 34px;
}


/* ------------------------- */
/*       HERO SECTION        */
/* ------------------------- */
.hero {
    padding: 64px 100px 32px 100px;
}
.hero-green {
    max-width: 1300px;
    margin: 50px auto;
    background: #CAD8B5;
    padding: 20px;
    border-radius: 0px 50px;
    width: 100%;
    height: 350px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32em;

    position: relative;
}
.headshot {
    position: absolute;
    top: -50px;
    left: 125px;
    width: 100%;
    max-width: 410px;
}
.hero-green-rightContent {
    position: absolute;
    left: 55%;
}
.hero-green-rightContent-ln {
    font-family: 'Agrandir Grand-Light', Helvetica, sans-serif;
}
.wordContainer {
    display: flex;
    justify-content: center;
}
.wordContainer-text {
    max-width: 1000px;
    font-size: 20px;
}


/* -------------- */
/*     SKILLS     */
/* -------------- */
.skills {
    max-width: 1300px;
    margin: 32px auto;
}
.skills-content {
    max-width: 1300px;
    margin: 64px auto;
    display: flex;
    gap: 24px;
}
.skillCard {
    background-color: #E9E8DD;
    border: 1px solid #7D7D7D;
    border-radius: 5px;
    padding: 32px;
}
.skillIcon {
    width: 40px;
}


/* ---------------- */
/*     PROJECTS     */
/* ---------------- */
.projects {
    max-width: 1300px;
    margin: 64px auto;
}
.projectCard {
    max-width: 1300px;
    margin-top: 32px;
    background-color: #E9E8DD;
    border: 1px solid #7D7D7D;
    border-radius: 5px;
    display: flex;
}
.projectCard-img {
    width: 40%;
    margin-right: 32px;
}
.projectCard-body {
    padding: 32px;
    padding-left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}
.projectCard-body-heading {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.projectCard-body-button {
    padding: 12px 32px;
    border-radius: 5px;
    max-width: 232px;
    text-decoration: none;
    color: #FFFEF4;
    background-color: #61609A;
}

#project2 .projectCard-body {
    padding: 32px;
    padding-right: 0;
}
#project2 .projectCard-img {
    margin-right: 0;
    margin-left: 32px;
}

/* ------------------ */
/*       FOOTER       */
/* ------------------ */
.footer {
    background: #CAD8B5;
    padding: 64px 100px;
    margin-top: 32px;
}
.footer-container {
    max-width: 1300px;
    gap: 32px;
    margin: 0 auto;
    display: flex;
}

.footer-container-leftContent {
    display: flex;
    flex-direction: column;
}
.contact-socials {
    margin-top: auto;
}
.socials {
    display: flex;
    list-style: none;
    gap: 12px;
    margin: 6px auto;
}
/* .socials-icon img {
    width: 30px;
    height: 30px;
} */

.footer-container-rightContent {
    width: 750px;
}
.footer-container-rightContent .longInput {
    height: 80px;
}
.footer-container-rightContent input {
    min-height: 32px;
    width: 100%;
}
.footer-container-rightContent .button {
    background: #636363;
    border: none;
    border-radius: 5px;

    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFEF4;

    padding: 5px 150px;
    text-decoration: none;
    margin: 8px auto;

    transition: 0.3s ease-in-out;
}
.footer-container-rightContent .button:hover {
    background-color: #3F3F3F;
}


/* ------------- */
/*     ICONS     */
/* ------------- */
.floating-btn {
    padding: 16px;
    font-size: 30px;
    color: #FFFEF4;
    background-color: #61609A;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    position: fixed;
    right: 25px;
    bottom: 25px;
    transition: 0.3s ease-in-out;
}
.floating-btn:hover {
    padding: 18px;
    font-size: 32px;
    background-color: #494875;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

.socials-icon {
    padding: 8px;
    font-size: 20px;
    color: #FFFEF4;
    background-color: #636363;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}
.socials-icon:hover {
    background-color: #3F3F3F;
}


/* ----------------- */
/*     PRELOADER     */
/* ----------------- */
.preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10000;
    background: #FFFEF4;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preloader img {
    animation: pulse 2s ease-in-out;
    height: 100px;
}

@keyframes pulse {
    0% {
        scale: 1;
    }
    25% {
        scale: 1.2    
    }
    50% {
        scale: 1;
    }
    100% {
        scale: 0.8;
    }
}


/* ----------------- */
/*       FONTS       */
/* ----------------- */
@font-face {
    font-family: Agrandir Grand-Heavy;
    src: url(/fonts/Agrandir-GrandHeavy.woff);
}
@font-face {
    font-family: Agrandir Grand-Light;
    src: url(/fonts/Agrandir-GrandLight.woff);
}
@font-face {
    font-family: Agrandir Text-Bold;
    src: url(/fonts/Agrandir-TextBold.woff);
}

h1 {
    font-family: "Agrandir Grand-Heavy", Helvetica, sans-serif;
    font-size: 72px;
    letter-spacing: 0.5rem;
}
h2 {
    font-family: 'Agrandir Text-Bold', Helvetica, sans-serif;
    font-size: 36px;
}
h3 {
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 400;
    font-size: 28px;
}
h4 {
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 500;
    font-size: 24px;
}
h5 {
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
}
p, a, label {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 18px;
}